# Core Dependencies
elasticsearch
pandas
sentence-transformers
pyarrow
fastapi
uvicorn
jinja2
python-multipart
ollama
redis
nltk

# API and Web
requests
python-dotenv
pydantic
openai

# Utilities
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles
tenacity
tqdm
